*{
  margin: 0;
  box-sizing: border-box;
}
body{
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #F3F4F6;
}
.input-wrapper {
  width: fit-content;
  height: 45px;
  border-radius: 20px;
  padding: 5px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  background-color: #292524;
  margin-top: 5vh;

}

.icon {
  width: 30px;
  fill: rgb(255, 255, 255);
  margin-left: 8px;
  transition: all 0.3s;
}
.input {
  width: 35vw;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #292524;
  color: white;
  font-size: 1em;
}
.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #292524 inset;
  -webkit-text-fill-color: #ffffff;
}
.Subscribe-btn {
  height: 100%;
  width: 95px;
  border: none;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: #ffffff;
  font-weight: 500;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
}
.arrow {
  /* display: none; */
  position: absolute;
  margin-right: 150px;
  transition: all 0.3s;
}
.input-wrapper:active .icon {
  transform: scale(1.3);
}
.Subscribe-btn:hover {
  color: white;
}
.Subscribe-btn:hover .arrow {
  margin-right: 0;
  animation: jello-vertical 0.9s both;
  transform-origin: right;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.Subscribe-btn:active {
  transform: scale(0.9);
}

#con{
  background-color: #292524;
  height:75vh;
  margin-top: 2vh;
  border-radius: 2vh;
  color: white;
  overflow-y:scroll ;
  overflow-x: hidden;

}
#con::-webkit-scrollbar {
  display: none; 
}
#com{
 background-color:  red;
}
#Text{
  height: 7vh;
  width:25vw;
  background-color: #292524;

  font-size: 4vh;
  border: 0.2vh solid white;
  color: white;
  border-radius: 2vh;

}
#chi{
  background-color:    #292524;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;

}
.com{
  height: 7vh;
 width: 3vw;
 
}
#list{

  width:44vw;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5vh;
}
#con{
  display: flex;
  align-items: start;
  justify-content: center;
  justify-content: space-between;

}
#up{
  height:5vh;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 4vh;
  transition: 0.5s ease-in; 

}
#up:hover{
  background-color: #EB5A3C;
  color: white;
}
#re{
  height:5vh;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 4vh;
  transition: 0.5s ease-in; 
}
#re:hover{
  background-color: red;
  color: white;
}
#completed{
  background-color: #292524;
  color: white;
  height:70vh;
  border-radius: 2vh;
  position: fixed;
  left:0.5vw;
  top:20vh;
  width:25vw;
}